<header>
  <div class="header-logo">

  </div>
  <ul class="header-menus">
    <a href="/about">TweetAppとは</a>
  </ul>
</header>
<div class="about-main">
<h2><span-1>H</span-1><span-2>E</span-2><span-3>L</span-3><span-4>L</span-4><span-5>O</span-5></h2>

<hr>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションしましょう！
  </p>
  <br>
  <img class="about-img" src="tweets.png">
