<header>
  <div class="header-logo">
   <a href="/"> TweetApp</a>
  </div>
  <ul class="header-menus">
   <li><a href="/about">TweetAppとは<a></li>
   <li><a href="/users/create">新規登録</a></li>
   <li><a href="login">ログイン</a></li>
  </ul>
</header>
<body>
<div class="main top-main">
<div class="top-message">
<h2><span-1>つ</span-1><span-2>ぶ</span-2><span-3>や</span-3><span-4>く</span-4></h2>
<h2>もっと</h2>
<h2><span-1>つ</span-1><span-2>な</span-2><span-3>が</span-3><span-4>る</span-4></h2>

<a href="/users/create"><span class="btn message">いまの気持ち、つぶやいてみよう！</span></a>
<br>
<br>
<br>
<h3>あたらしい友だちとつながりましょう!</h3>
</div>
<footer>
<small class="cmark">©︎copyright fuwa.2020<a href="#"></a></small>
</div>
</footer>
</body>